{% extends 'base.html.twig' %}
{% import 'macros/elements.html.twig' as elements %}

{% set created = file.createdAt | time_diff %}
{% set deleted = file.createdAt | date_modify( days_before_clean ~ " days" ) | time_diff %}
{% set organization = file.owner is empty ? _('label.anon_user') : file.owner.organization.code %}

{% block breadcrumb %}
    <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> {{ _('title.main_folder') }}</a></li>
    <li class="active">{{ file }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <!-- general form elements -->
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">{{ _('title.download_file') }}</h3>
                </div><!-- /.box-header -->
                {{ form_start(form) }}
                <div class="box-body">
                    <div class="text-center">
                        <p>
                            <i style="font-size: 100px;" class="fa fa-file-o"></i>
                        </p>
                        <h3>
                            {{ file }}
                        </h3>
                        <p>
                            {{ _('file.upload_from', {'%organization%': organization, '%created%': created }) | raw }}
                            {{ _('file.available_until', {'%deleted%': deleted}) | raw }}
                            - {{ elements.bytesToSize(file.size) }}
                        </p>
                    </div>
                    {{ form_widget(form) }}
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <div class="pull-right btn-group">
                        <button type="submit" class="btn btn-default"><i class="fa fa-check"></i> {{ _('action.check_password') }}</button>
                        <a href="{{ path("homepage") }}" class="btn btn-default btn-flat"><i class="fa fa-ban"></i> {{ _('action.cancel') }}</a>
                    </div>
                </div>
                {{ form_end(form) }}
            </div><!-- /.box -->
        </div>
    </div>
{% endblock %}