{% extends 'base.html.twig' %}
{% import 'macros/elements.html.twig' as elements %}

{% block header_title %}
    <h1>{{ _('title.main_folder') }}
        <small>
            {{ __('title.folder_number', folders | length) }} -
            {{ __('title.file_number', files | length) }}
        </small>
    </h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ul class="file-list">
                {% for folder in folders %}
                    {{ elements.folder(folder, days_before_clean) }}
                {% endfor %}
                {% for file in files %}
                    {{ elements.file(file, days_before_clean) }}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
