{% extends 'base.html.twig' %}
{% import 'macros/elements.html.twig' as elements %}

{% block header_title %}
    <h1>{{ 'title.main_folder' | trans }}
        <small>
            {{ 'title.folder_number' | transchoice(folders | length) }} -
            {{ 'title.file_number' | transchoice(files | length) }}
        </small>
    </h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ul class="file-list">
                {% for folder in folders %}
                    {{ elements.folder(folder) }}
                {% endfor %}
                {% for file in files %}
                    {{ elements.file(file) }}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
