{% extends 'base.html.twig' %}
{% import 'macros/elements.html.twig' as elements %}


{% block header_title %}
    <h1>{{ 'homepage.title' | trans }}
        <small>{{ 'homepage.number.folders' | trans({'%folders%':folders|length }) }} -
                {{ 'homepage.number.files' | trans({'%files%':files|length }) }}
        </small>
    </h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ul class="file-list">
                {% for folder in folders %}
                    {{ elements.folder(folder) }}
                {% endfor %}
                {% for file in files %}
                    {{ elements.file(file) }}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}