<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>
            {% block title %} {{ 'base.title'|trans }} Consigna 2.0{% endblock %}
        </title>
        {% block stylesheets %}
            {% stylesheets filter="cssrewrite" output="css/compiled/consigna.css" debug=false
                "vendor/bootstrap/dist/css/bootstrap.css"
                "vendor/select2/select2.css"
                "vendor/select2/select2-bootstrap.css"
                "vendor/font-awesome/css/font-awesome.css"
                "vendor/ionicons/css/ionicons.css"
                "vendor/admin-lte/dist/css/AdminLTE.css"
                "vendor/admin-lte/dist/css/skins/skin-black.css"
                "vendor/admin-lte/plugins/iCheck/square/blue.css"
                "bundles/app/css/consigna.css"
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

            <!-- HTML5 for IE8 -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block body_class %}skin-black{% endblock %}">
    {% block body %}

        <div class="wrapper">

            <!-- Main Header -->
            <header class="main-header">

                <!-- Logo -->
                <a href="{{ path('homepage') }}" class="logo"><b>Consigna</b>UCO</a>

                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">

                            {% block navbar %}
                            {% if app.user %}
                            <li class="tasks-menu">
                                <a href="{{ path("folder_new") }}"><i class="fa fa-folder-o"></i> {{ 'base.new.folder'|trans }}</a>
                            </li>
                            {% endif %}
                            <li class="tasks-menu">
                                <a href="{{ path("file_upload") }}"><i class="fa fa-upload"></i> {{ 'base.new.file'|trans }}</a>
                            </li>
                            {% endblock %}

                            {% if app.user %}
                            <!-- User Account Menu -->
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <!-- The user image in the navbar-->
                                    <img src="{{ app.user.gravatar(64) }}" class="user-image" alt="User Image"/>
                                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                    <span class="hidden-xs">{{ app.user }}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- The user image in the menu -->
                                    <li class="user-header">
                                        <img src="{{ app.user.gravatar(160) }}" class="img-circle" alt="User Image" />
                                        <p>
                                            {{ app.user }}
                                            <small>PENDIENTE</small>
                                        </p>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="{{ path("fos_user_profile_edit") }}" class="btn btn-default btn-flat">{{ 'base.edit.profile' | trans }}</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="{{ path("fos_user_security_logout") }}" class="btn btn-default btn-flat">{{ 'base.logout' | trans }}</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                            <li class="tasks-menu">
                                <a href="{{ path("fos_user_security_login") }}"><i class="fa fa-sign-in"></i> {{ 'base.login' | trans }}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </header>


            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">

                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">

                    <!-- search form (Optional) -->
                    <form action="{{ path('find') }}" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="word" class="form-control" placeholder="Search..."/>
                  <span class="input-group-btn">
                    <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                  </span>
                        </div>
                    </form>
                    <!-- /.search form -->

                    <!-- Sidebar Menu -->
                    {{ knp_menu_render('AppBundle:Builder:mainMenu', {'currentClass': 'active' }) }}
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">

                <!-- Content Header (Page header) -->
                <section class="content-header">
                    {% block content_header %}
                        {% block header_title %}
                            <h1>&nbsp;</h1>
                        {% endblock %}
                        <ol class="breadcrumb">
                        {% block breadcrumb %}
                            <li><a class="active" href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> {{ 'base.icon.Mainfolder' | trans }}</a></li>
                        {% endblock %}
                        </ol>
                    {% endblock %}
                </section>

                <!-- Main content -->
                <section class="content">

                    {% block alert %}
                        {% for type, messages in app.session.flashBag.all %}
                            {% for message in messages %}
                                <div class="alert alert-{{ type }} alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endblock %}

                    {% block content %}
                    {% endblock content %}
                </section><!-- /.content -->
            </div><!-- /.content-wrapper -->

            <!-- Main Footer -->
            <footer class="main-footer">
                <!-- To the right -->
                <div class="pull-right hidden-xs">
                    200Mb used in 36 files
                </div>
                <!-- Default to the left -->
                <strong>Copyleft &copy; 2015 <a href="#">{{ 'base.footer.uco' | trans }}</a>.</strong>
            </footer>

        </div><!-- ./wrapper -->

        {% block modal %}
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">{{ 'modal.delete.title' | trans }}</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'modal.close' | trans }}</button>
                        <a id="delete" class="btn btn-primary">{{ 'modal.delete.footer' | trans }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ShareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ 'modal.share.title' | trans }}</h4></div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="box-body">
                                <div class="form-group"><label for="exampleInputEmail1">{{ 'modal.share.link' | trans }}</label>
                                    <div class="input-group"><input class="form-control" id="share">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default"><i class="fa fa-copy"></i> {{ 'modal.share.copy' | trans }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'modal.close' | trans }}</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

    {% endblock %}

    {% block javascripts %}<!-- Librería jQuery requerida por los plugins de JavaScript -->
        {% javascripts filter="cssrewrite" output="js/compiled/consigna.js" debug=false
            "vendor/jquery/dist/jquery.js"
            "vendor/select2/select2.js"
            "vendor/bootstrap/dist/js/bootstrap.js"
            "vendor/bootstrap-filestyle/src/bootstrap-filestyle.js"
            "vendor/admin-lte/plugins/iCheck/icheck.js"
            "vendor/admin-lte/dist/js/app.js"
            "bundles/app/js/consigna.js"
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    </body>
</html>