<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>
            {% block title %}La mejor consigna de mi vida!{% endblock %}
        </title>
        {% block stylesheets %}
            <!-- CSS de Bootstrap -->
            <link href={{ asset('css/bootstrap.css') }} rel="stylesheet" media="screen">
            <link href={{ asset('css/bootsnipp.css') }} rel="stylesheet" media="screen">
            <link href={{ asset('css/bootstrapEventList.css') }} rel="stylesheet" media="screen">



            <!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}

        <div class="row">
            <!-- uncomment code for absolute positioning tweek see top comment in css -->
            <!-- <div class="absolute-wrapper"> </div> -->
            <!-- Menu -->
            <div class="side-menu">
                <div class="brand-name-wrapper">
                    <a class="navbar-brand">
                        Consigna 2.0
                    </a>
                </div>
                <nav class="navbar navbar-default" role="navigation">

                    <!-- Main Menu -->
                    <div class="side-menu-container">
                        <ul class="nav navbar-nav">

                            <li><a href="{{ path('filesList') }}"><span class="glyphicon glyphicon-file"></span> Todos los archivos</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-folder-open"></span> Tus carpetas</a></li>
                            {% if app.user %}
                                <li><a href="{{ path('myFiles', {'owner': app.user}) }}"><span class="glyphicon glyphicon-user"></span> Tus archivos</a></li>
                            {% else %}
                                <li><span class="glyphicon glyphicon-user"></span> Tus archivos</li>
                            {% endif %}
                            <li><a href="#"><span class="glyphicon glyphicon-share"></span> Compartido contigo</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>

            </div>

            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body">
                    {% block mainContent %}{% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
    </body>
        {% block javascripts %}<!-- Librería jQuery requerida por los plugins de JavaScript -->
            <script src="{{ asset('js/jquery.min.js') }}"></script>

            <!-- Todos los plugins JavaScript de Bootstrap (también puedes
                 incluir archivos JavaScript individuales de los únicos
                 plugins que utilices) -->
            <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% endblock %}
</html>