<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>
            {% block title %}University of Cordoba. Consigna 2.0{% endblock %}
        </title>
        {% block stylesheets %}
            <!-- CSS de Bootstrap -->
            <link href={{ asset('css/bootstrap.css') }} rel="stylesheet" media="screen">
            <link href={{ asset('css/bootsnipp.css') }} rel="stylesheet" media="screen">
            <link href={{ asset('css/bootstrapEventList.css') }} rel="stylesheet" media="screen">
            <link href={{ asset('css/consigna.css') }} rel="stylesheet" media="screen">


            <!-- HTML5 for IE8 -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block body %}

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="brand" class="navbar-brand" href="#">
                        Consigna 2.0
                    </a>
                </div>
                {% if app.user %}
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default navbar-btn navbar-right">Sign out</a>
                {% else %}
                    <a id="Sign in" href ="{{ path('fos_user_security_login') }}" class="btn btn-default navbar-btn navbar-right">Sign in</a>
                {% endif %}
            </div>
        </nav>

        <div class="row">
            <div class="side-menu">
                <nav class="navbar navbar-default" role="navigation">

                    <!-- Main Menu -->
                    <div class="side-menu-container">
                        <ul class="nav navbar-nav">

                            <li><a href="{{ path('files') }}"><span class="fa fa-file"></span> All files</a></li>
                            <li><a href="#"><span class="fa fa-folder-open"></span> All folders</a></li>
                            {% if app.user %}
                            <li><a href="#"><span class="glyphicon glyphicon-folder-open"></span> Your folders</a></li>
                            <li><a href="{{ path('user_files') }}"><span class="glyphicon glyphicon-user"></span>Your files</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-share"></span> Shared with you</a></li>
                            {% endif %}

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>

            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body">
                    {% block alert %}
                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="alert alert-success">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                    {% endblock %}
                    {% block mainContent %}{% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
    </body>
    {% block javascripts %}<!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/consigna.js') }}"></script>
    {% endblock %}
</html>