<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>
            {% block title %} {{ 'base.title'|trans }} Consigna 2.0{% endblock %}
        </title>
        {% block stylesheets %}
            {% stylesheets
                "@bootstrap_css"
                "@select2_css"
                "@select2_bootstrap_css_css"
                "@font_awesome_css"
                "@ionicons_css"
                "@admin_lte_css"
                "bundles/app/css/consigna.css"
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

            <!-- HTML5 for IE8 -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block body %}

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="brand" class="navbar-brand" href="{{ path('homepage') }}">
                        Consigna 2.0
                    </a>
                </div>
                {% if app.user %}
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default navbar-btn navbar-right">{{ 'base.logout'|trans }}</a>
                {% else %}
                    <a id="Sign in" href ="{{ path('fos_user_security_login') }}" class="btn btn-default navbar-btn navbar-right">{{ 'base.login'|trans }}</a>
                {% endif %}
            </div>
        </nav>

        <div class="row">
            <div class="side-menu">
                <nav class="navbar navbar-default" role="navigation">

                    <!-- Main Menu -->
                    <div class="side-menu-container">
                        <ul class="nav navbar-nav">

                            <li><a href="{{ path('homepage') }}"><span class="fa fa-file"></span> {{ 'base.menu.all'|trans }} </a></li>
                            {% if app.user %}
                            <li><a href="{{ path('user_files') }}"><span class="glyphicon glyphicon-user"></span>{{ 'base.menu.myfiles'|trans }}</a></li>
                            <li><a href="{{ path('shared_elements') }}"><span class="glyphicon glyphicon-share"></span> {{ 'base.menu.shared'|trans }}</a></li>
                            {% endif %}

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>

            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body">
                    {% block alert %}
                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="alert alert-success">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                    {% endblock %}
                    {% block breadscrum %}
                        <nav class="navbar navbar-default">
                        <div class="container-fluid">

                            <!--Esto imagino que lo vamos a cambiar, de momento no lo traduzco-->
                            <p class="navbar-text">Start / Folder</p>
                            {% block uploadFile %}
                            {% endblock %}

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <form class="navbar-form navbar-right" role="search" action="{{ path('find') }}" method="get">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search" name="word" id="search-button">
                                </div>
                                <button type="submit" class="btn btn-default">{{ 'base.search'|trans }}</button>
                            </form>
                        </div><!-- /.container-fluid -->
                        </nav>
                    {% endblock %}

                    {% block mainContent %}{% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}

    {% block javascripts %}<!-- Librería jQuery requerida por los plugins de JavaScript -->
        {% javascripts
            "@jquery_js"
            "@select2_js"
            "@bootstrap_js"
            "@bootstrap_filestyle_js"
            "@admin_lte_js"
            "bundles/app/js/consigna.js"
            %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    </body>

</html>