{% extends 'base.html.twig' %}

{% block File_Folder %}
    <p class="navbar-text">Start / Folder</p>
    {% block uploadFile %}
    <a class="btn btn-default navbar-btn" href="{{ path('file_create') }}"><i class="fa fa-cloud-upload "></i> Upload file</a>
    {% if app.user %}
        <a class="btn btn-default navbar-btn" href="{{ path('folder_create') }}"><i class="fa fa-folder"></i> Create folder</a>
    {% endif %}
    {% endblock %}


{% endblock %}

{% block mainContent %}

    <div class="row">
    <div class="col-md-12">
        <ul class="event-list">

        {% for folder in folders %} <!-- list of folders -->
            <li>
                <div class="info">
                    <h4 class="title"><i class="fa fa-folder-o"></i>
                            <a href='{{ path('control_access',{'slug':folder.slug}) }}'>{{ folder.folderName }}</a>
                    </h4>
                    <p class ="desc">
                        Upload by {{ folder.user }} -
                        <b>{% if  folder.files.count == 0 %}empty folder{% endif %}</b>
                        {% for tag in folder.tags  %}
                            <span class="label label-default">{{ tag }}</span>
                        {% endfor %}

                        {% for user in folder.usersWithAccess %}
                            <span class="label label-danger">{{ user }}</span>
                        {% endfor %}
                    </p>
                    <ul>
                        {% if folder.getUser() == app.user and app.user %}
                            <a href="{{ path('folder_delete',{'slug':folder.slug}) }}" title="Delete {{ folder.folderName }}"><li><i class="fa fa-trash-o"></i> Delete </li></a>
                        {% endif %}
                        {% if folder.getUser() == app.user and app.user %}
                            <a><li class="fa fa-share-alt" data-toggle="modal" data-target="#myModal"> Share </li></a>
                        {% endif %}
                    </ul>
                </div>
            </li>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Share {{ folder.folderName }}</h4>
                        </div>
                        <div class="modal-body">
                            {{ url('folder_share',{'shareCode':folder.shareCode,'slug':folder.slug}) }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for file in files %} <!-- list of files -->
            <li>
                <div class="info">
                    <h4 class="title"><i class="fa fa-file-o"></i> {{file.filename}}</h4>
                    <p class ="desc">
                        Size: {{ file.size }} bytes - Upload by {{ file.user}}
                        {% for tag in file.tags  %}
                            <span class="label label-default">{{ tag }}</span>
                        {% endfor %}

                        {% for user in file.usersWithAccess %}
                            <span class="label label-danger">{{ user }}</span>
                        {% endfor %}
                    </p>
                    <ul>
                        {% if app.user or not app.user and file.user %}
                        <a href="{{ path('control_file_download',{'slug':file.slug}) }}" title="Download {{ file.filename }}"><li><i class="fa fa-download push"></i> Download </li></a>
                        {% endif %}
                        {% if file.getUser() == app.user and app.user %}
                        <a href="{{ path('file_delete',{'slug':file.slug}) }}" title="Delete {{ file.filename }}"><li><i class="fa fa-trash-o"></i> Delete </li></a>
                        {% endif %}
                        {% if file.getUser() == app.user and app.user %}
                            <a><li class="fa fa-share-alt" data-toggle="modal" data-target="#myModal"> Share </li></a>
                        {% endif %}
                    </ul>
                </div>
            </li>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Share {{ file.filename }}</h4>
                        </div>
                        <div class="modal-body">
                            {{ url('file_share',{'shareCode':file.shareCode,'slug':file.slug}) }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if not files and not folders %}
            <li class="alert alert-danger">
                No data
            </li>
        {% endif %}
         </ul>
    </div>
    </div> <!-- row -->

{% endblock %}