{% extends 'base.html.twig' %}

{% block uploadFile %}
    <a class="btn btn-default navbar-btn" href="{{ path('file_create') }}"><i class="fa fa-cloud-upload "></i> Upload file</a>
    {% if app.user %}
        <a class="btn btn-default navbar-btn" href="{{ path('folder_create') }}"><i class="fa fa-folder"></i> Create folder</a>
    {% endif %}
{% endblock %}

{% block mainContent %}


    <div class="row">
        <div class="col-md-12">
            <ul class="event-list">
                {% for folder in folders %} <!-- list of folders -->
                    <li>
                        <div class="info">
                            <h4 class="title"><i class="fa fa-folder-o"></i>
                                 <a href='{{ path('control_access',{'slug':folder.slug}) }}'>{{ folder.folderName }}</a>
                            </h4>
                            <p class ="desc">
                                Upload by {{ folder.user }} -<b>{% if  folder.files.count == 0 %}empty folder{% endif %}</b>

                                {% for tag in folder.tags  %}
                                    <span class="label label-default">{{ tag }}</span>
                                {% endfor %}
                            </p>
                            <ul>
                                <li><i class="fa fa-download push"></i>Download </li>
                                {% if folder.getUser() == app.user %}
                                    <a href="{{ path('folder_delete',{'slug':folder.slug}) }}" title="Delete {{ folder.folderName }}"><li><i class="fa fa-trash-o"></i>Delete </li></a>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}

                {% for file in files %} <!-- list of files -->
                    <li>
                        <div class="info">
                            <h4 class="title"><i class="fa fa-file-o"></i> {{file.filename}}</h4>
                            <p class ="desc">
                                Size: {{ file.size }} bytes - Upload by {{ file.user}}
                                {% for tag in file.tags  %}
                                    <span class="label label-default">{{ tag }}</span>
                                {% endfor %}
                            </p>
                            <ul>
                                {% if app.user or not app.user and file.user %}
                                    <a href="{{ path('control_file_download',{'slug':file.slug}) }}" title="Download {{ file.filename }}"><li><i class="fa fa-download push"></i>Download </li></a>
                                {% endif %}
                                {% if file.getUser() == app.user %}
                                    <a href="{{ path('file_delete',{'slug':file.slug}) }}" title="Delete {{ file.filename }}"><li><i class="fa fa-trash-o"></i>Delete </li></a>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
                {% if not files and not folders %}
                    <li class="alert alert-danger">
                        No data
                    </li>
                {% endif %}
            </ul>
        </div>
    </div> <!-- row -->

{% endblock %}

