{% extends 'base.html.twig' %}

{% block mainContent %}
    <div class="row">
        <div class="col-md-12">
            <ul class="event-list">
                {% for user in folder.usersWithAccess() %}
                <span class="label label-warning">{{ user }}</span>
                {% endfor %}
                {% for file in folder.files %} <!-- list of files -->
                    <li>
                        <div class="info">
                            <h4 class="title"><i class="fa fa-file-o"></i> {{file.filename}}</h4>
                            <p class ="desc">
                                Size: 15Mb - Upload by {{ file.user}}
                                {% for tag in file.tags  %}
                                    <span class="label label-default">{{ tag }}</span>
                                {% endfor %}
                            </p>
                            <ul>
                                <li><i class="fa fa-download push"></i>Download </li>
                                {% if file.getUser() == app.user %}
                                    <a href="{{ path('file_delete',{'slug':file.slug}) }}" title="Delete {{ file.filename }}"><li><i class="fa fa-trash-o"></i>Delete </li></a>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
                {% if folder.files==null %}
                    <li class="alert alert-danger">
                        No data
                    </li>
                {% endif %}
            </ul>
        </div>
    </div> <!-- row -->


{% endblock %}

