{% extends 'base.html.twig' %}

{% block mainContent %}

    <div class="row">
        <div class="col-md-12">
            <ul class="event-list">
                {% for folder in folders %} <!-- list of folders -->
                {% if folder.hasAccess(app.user) %}
                    <li>
                        <div class="info">
                            <h4 class="title"><i class="fa fa-folder-o"></i>
                                 <a href='{{ path('folder_files',{'slug':folder.slug}) }}'>{{ folder.folderName }}</a>
                            </h4>
                            <p class ="desc">
                                Size: 15Mb - Upload by {{ folder.user }}
                                {% for tag in folder.tags  %}
                                    <span class="label label-default">{{ tag }}</span>
                                {% endfor %}
                            </p>
                            <ul>
                                <li><i class="fa fa-download push"></i>Download </li>
                                {% if folder.getUser() == app.user %}
                                    <a href="{{ path('folder_delete',{'slug':folder.slug}) }}" title="Delete {{ folder.folderName }}"><li><i class="fa fa-trash-o"></i>Delete </li></a>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                {% endif %}
                {% endfor %}

                {% for file in files %} <!-- list of files -->
                {% if file.hasAccess(app.user) %}
                    <li>
                        <div class="info">
                            <h4 class="title"><i class="fa fa-file-o"></i> {{file.filename}}</h4>
                            <p class ="desc">
                                Size: 15Mb - Upload by {{ file.user}}
                                {% for tag in file.tags  %}
                                    <span class="label label-default">{{ tag }}</span>
                                {% endfor %}
                            </p>
                            <ul>
                                {% if file.hasAccess(app.user) %}
                                    <a href="{{ path('file_download',{'slug':file.slug}) }}" title="Download {{ file.filename }}"><li><i class="fa fa-download push"></i>Download </li></a>
                                {% endif %}
                                {% if file.getUser() == app.user %}
                                    <a href="{{ path('file_delete',{'slug':file.slug}) }}" title="Delete {{ file.filename }}"><li><i class="fa fa-trash-o"></i>Delete </li></a>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                {% endif %}
                {% endfor %}
                {% if files==null and folders==null %}
                    <li class="alert alert-danger">
                        No data
                    </li>
                {% endif %}
            </ul>
        </div>
    </div> <!-- row -->

{% endblock %}

