{% macro folder(folder) %}
    {% set created = folder.createdAt | time_diff %}
    {% set deleted = folder.expiresAt | time_diff %}
    {% set organization = folder.owner is empty ? 'label.anon_user' | trans : folder.owner.organization.code %}

    <li>
        <div class="square">
            <span class="icon"><i class="fa fa-folder-o"></i></span>
        </div>
        <div class="info">
            <h2 class="title"><a href="{{ path('folder_show', {'slug': folder.slug}) }}">{{ folder.name }}</a></h2>
            <p class="desc">
                <small>
                    {{ 'file.upload_from' | trans({'%organization%': organization, '%created%': created }) | raw }}
                    {%- if not folder.isPermanent %}
                        {{ 'file.available_until' | trans({'%deleted%': deleted}) | raw }}
                    {% endif -%}
                </small>
            </p>
            <ul>
                {% for tag in folder.tags %}
                    <li><span class="label label-default"><i class="fa fa-tag"></i> {{ tag }}</span></li>
                {% endfor %}
            </ul>
        </div>
        <div class="actions">
            <ul>
                <li class="action" style="width:33%;"><a href="{{ path('folder_show', {'slug': folder.slug}) }}"><span class="fa fa-folder-open-o"></span></a></li>
                {% if is_granted('SHARE', folder) %}
                    <li class="action share" style="width:34%;" data-toggle="modal" data-target="#ShareModal" data-url="{{ url("shared_access_item",{'sharedCode': folder.sharedCode }) }}"><a href="#" title="Share {{ folder.name }}"><span class="fa fa-share-alt"></span></a></li>
                {% endif %}
                {% if is_granted('DELETE', folder) %}
                    <li class="action trash" style="width:33%;" data-toggle="modal" data-target="#DeleteModal" data-url="{{ path('folder_delete',{'slug':folder.slug}) }}"><a href="#" title="Delete {{ folder.name }}"><span class="fa fa-trash"></span></a></li>
                {% endif %}
            </ul>
        </div>
    </li>
{% endmacro %}


{% macro file(file) %}
    {% set created = file.createdAt | time_diff %}
    {% set deleted = file.expiresAt | time_diff %}
    {% set organization = file.owner is empty ? 'label.anon_user' | trans : file.owner.organization.code %}


    <li>
        <div class="square">
            <span class="icon"><i class="fa fa-file-o"></i></span>
        </div>
        <div class="info">
            <h2 class="title"><a href="{{ path("file_show", {'slug': file.slug}) }}">{{ file.name }}</a></h2>
            <p class="desc">
                <small>
                    {{ 'file.upload_from' | trans({'%organization%': organization, '%created%': created }) | raw }}
                    {{ 'file.available_until' | trans({'%deleted%': deleted}) | raw }}
                </small>
            </p>
            <ul>
                {% for tag in file.tags %}
                    <li><span class="label label-default"><i class="fa fa-tag"></i> {{ tag }}</span></li>
                {% endfor %}
            </ul>
        </div>
        <div class="actions">
            <ul>
                <li class="action" style="width:33%;"><a href="{{ path('file_show', {'slug': file.slug}) }}" title="Download {{ file.name }}"><span class="fa fa-download"></span></a></li>
                {% if is_granted('SHARE', file) %}
                    <li class="action share" style="width:34%;" data-toggle="modal" data-target="#ShareModal" data-url="{{ url('shared_access_item',{'sharedCode': file.sharedCode}) }}" ><a href="#" title="Share {{ file.name }}"><span class="fa fa-share-alt"></span></a></li>
                {% endif %}
                {% if is_granted('DELETE', file) %}
                    <li class="action trash" style="width:33%;" data-toggle="modal" data-target="#DeleteModal" data-url="{{ path('file_delete',{'slug':file.slug}) }}"><a href="#" title="Delete {{ file.name }}"><span class="fa fa-trash"></span></a></li>
                {% endif %}
            </ul>
        </div>
    </li>
{% endmacro %}

{% macro folderfile(file) %}
    {% set created = file.createdAt | time_diff %}
    {% set organization = file.owner is empty ? 'label.anon_user' | trans : file.owner.organization.code %}
    {% set folder = file.folder %}

    <li>
        <div class="square">
            {% if file.mimeType starts with 'audio/' or file.mimeType ends with '/ogg' %}
            <span class="icon"><i class="fa fa-file-sound-o"></i></span>
            {% elseif file.mimeType starts with 'image/' %}
            <a href="{{ path("file_download", {'slug': file.slug}) }}" data-lightbox="roadtrip">
                <img alt="{{ file.slug }}" src="{{ file.basename | imagine_filter('folder_thumb') }}">
            </a>
            {% else %}
            <span class="icon"><i class="fa fa-file-o"></i></span>
            {% endif %}

        </div>
        <div class="info">
            <h2 class="title"><a href="{{ path("file_download", {'slug': file.slug}) }}">{{ file.name }}</a></h2>
            <p class="desc">
                <small>
                    {{ 'file.upload_from' | trans({'%organization%': organization, '%created%': created }) | raw }}
                </small>
                {% if file.mimeType starts with 'audio/' or file.mimeType ends with '/ogg' %}
                <div class="player">
                    <audio controls preload="none">
                        <!-- Audio files -->
                        <source src="{{ path('file_download', {'slug': file.slug}) }}" type="{{ file.mimeType }}">
                    </audio>
                </div>
            {% endif %}
            </p>
            <ul>
                {% for tag in file.tags %}
                    <li><span class="label label-default"><i class="fa fa-tag"></i> {{ tag }}</span></li>
                {% endfor %}
            </ul>
        </div>
        <div class="actions">
            <ul>
                <li class="action" style="width:33%;"><a href="{{ path("file_download", {'slug': file.slug}) }}" title="Download {{ file.name }}"><span class="fa fa-download"></span></a></li>
                {% if is_granted('DELETE', file.folder) %}
                    <li class="action trash" style="width:33%;" data-toggle="modal" data-target="#DeleteModal" data-url="{{ path("file_delete", {'slug': file.slug}) }}"><a href="#" title="Delete {{ file.name }}"><span class="fa fa-trash"></span></a></li>
                {% endif %}
            </ul>
        </div>
    </li>
{% endmacro %}
