{% macro folder(folder, days_before_clean) %}
<li>
    <div class="square">
        <span class="icon"><i class="fa fa-folder-o"></i></span>
    </div>
    <div class="info">
        <h2 class="title"><a href="{{ path('folder_show', {'slug': folder.slug}) }}">{{ folder.folderName }}</a></h2>
        <p class="desc">
            <small>{{'element.createdatby' | trans({'%uploadDate%':folder.uploadDate | date, '%uploadUser%':folder.user }) }}
                <b>{{ 'element.daysleft' | trans({ '%days%': days_before_clean - folder.uploadDate|date('y-m-d')|time_diff('now'|date('y-m-d'))|abs }) }}</b>
            </small>
        </p>
        <ul>
            {% for tag in folder.tags %}
                <li><span class="label label-default"><i class="fa fa-tag"></i> {{ tag }}</span></li>
            {% endfor %}
        </ul>
    </div>
    <div class="actions">
        <ul>
            <li class="action" style="width:33%;"><a href="{{ path('folder_show', {'slug': folder.slug}) }}"><span class="fa fa-folder-open-o"></span></a></li>
            {% if is_granted('SHARE', folder) %}
                <li class="action share" style="width:34%;" data-toggle="modal" data-target="#ShareModal" data-url="{{ url("folder_share",{'slug':folder.slug,'shareCode': folder.shareCode }) }}"><a><span class="fa fa-share-alt"></span></a></li>
            {% endif %}
            {% if is_granted('DELETE', folder) %}
                <li class="action trash" style="width:33%;"><a data-toggle="modal" data-target="#DeleteModal" data-url="{{ path('folder_delete',{'slug':folder.slug}) }}"><span class="fa fa-trash"></span></a></li>
            {% endif %}
        </ul>
    </div>
</li>
{% endmacro %}


{% macro file(file,days_before_clean) %}
    <li>
        <div class="square">
            <span class="icon"><i class="fa fa-file-o"></i></span>
        </div>
        <div class="info">
            <h2 class="title"><a href="{{ path("file_show", {'slug': file.slug}) }}">{{ file.filename }}</a></h2>
            <p class="desc">
                <small>{{'element.createdatby' | trans({'%uploadDate%':file.uploadDate | date, '%uploadUser%':file.user }) }}
                    <b>{{ 'element.daysleft' | trans({ '%days%': days_before_clean - file.uploadDate|date('y-m-d')|time_diff('now'|date('y-m-d'))|abs }) }}</b>
                </small>
            </p>
            <ul>
                {% for tag in file.tags %}
                    <li><span class="label label-default"><i class="fa fa-tag"></i> {{ tag }}</span></li>
                {% endfor %}
            </ul>
        </div>
        <div class="actions">
            <ul>
                <li class="action" style="width:33%;"><a href="{{ path('file_show', {'slug': file.slug}) }}"><span class="fa fa-download"></span></a></li>
                {% if is_granted('SHARE', file) %}
                    <li class="action share" style="width:34%;"><a data-toggle="modal" data-target="#ShareModal" data-url="{{ url('file_share',{'slug':file.slug, 'shareCode': file.shareCode}) }}"><span class="fa fa-share-alt"></span></a></li>
                {% endif %}
                {% if is_granted('DELETE', file) %}
                    <li class="action trash" style="width:33%;"><a data-toggle="modal" data-target="#DeleteModal" data-url="{{ path('file_delete',{'slug':file.slug}) }}"><span class="fa fa-trash"></span></a></li>
                {% endif %}
            </ul>
        </div>
    </li>
{% endmacro %}

{% macro folderfile(file,days_before_clean) %}
    <li>
        <div class="square">
            <span class="icon"><i class="fa fa-file-o"></i></span>
        </div>
        <div class="info">
            <h2 class="title"><a href="{{ path("folder_file_download", {'slug': file.slug}) }}">{{ file.filename }}</a></h2>
            <p class="desc">
                <small>{{'element.createdatby' | trans({'%uploadDate%':file.uploadDate | date, '%uploadUser%':file.user }) }}
                    <b>{{ 'element.daysleft' | trans({ '%days%': days_before_clean - file.uploadDate|date('y-m-d')|time_diff('now'|date('y-m-d'))|abs }) }}</b>
                </small>
            </p>
            <ul>
                {% for tag in file.tags %}
                    <li><span class="label label-default"><i class="fa fa-tag"></i> {{ tag }}</span></li>
                {% endfor %}
            </ul>
        </div>
        <div class="actions">
            <ul>
                <li class="action" style="width:33%;"><a href="{{ path("folder_file_download", {'slug': file.slug}) }}"><span class="fa fa-download"></span></a></li>
                {% if is_granted('DELETE', file.folder) %}
                    <li class="action trash" style="width:33%;"><a href="{{ path("folder_file_delete", {'slug': file.slug}) }}"><span class="fa fa-trash"></span></a></li>
                {% endif %}
            </ul>
        </div>
    </li>
{% endmacro %}

{% macro bytesToSize(bytes) %}
    {% spaceless %}
        {% set kilobyte = 1024 %}
        {% set megabyte = kilobyte * 1024 %}
        {% set gigabyte = megabyte * 1024 %}
        {% set terabyte = gigabyte * 1024 %}

        {% if bytes < kilobyte %}
            {{ bytes ~ ' B' }}
        {% elseif bytes < megabyte %}
            {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
        {% elseif bytes < gigabyte %}
            {{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
        {% elseif bytes < terabyte %}
            {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
        {% else %}
            {{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
        {% endif %}
    {% endspaceless %}
{% endmacro %}