{% extends 'base.html.twig' %}
{% import 'macros/elements.html.twig' as elements %}

{% block header_title %}
    <h1> {{ folder }}
        <small>{{ 'homepage.number.files' | trans({'%files%':folder.files|length }) }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> {{ 'base.icon.Mainfolder' | trans }}</a></li>
    <li class="active">{{ folder }}</li>
{% endblock %}

{% block navbar %}
    {% if is_granted('SHARE', folder) %}
    <li class="tasks-menu">
        <a href="{{ path("folder_edit", {'slug': folder.slug}) }}"><i class="fa fa-folder-o"></i> {{ 'folder.navbar.share' | trans }}</a>
    </li>
    {% endif %}
    {% if is_granted('UPLOAD', folder) %}
    <li class="tasks-menu">
        <a href="{{ path("folder_file_upload", {'slug': folder.slug}) }}"><i class="fa fa-upload"></i> {{ 'folder.navbar.upload' | trans }}</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ul class="file-list">
                {% for file in folder.files %}
                    {{ elements.folderfile(file,days_before_clean) }}
                {% else %}
                    <div class="callout bg-gray color-paletter">
                        <h4>{{ 'folder.content.empty' | trans }}</h4>
                        <p>{{ 'folder.content.message' | trans }}</p>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block numOfFiles %}
    <div class="pull-right hidden-xs">
        {{ sum[0][1] }} used in {{ sum[0][2] }} files
    </div>
{% endblock %}