{% extends 'base.html.twig' %}

{% block body %}

    {% if not app.user %}
        <a href="{{ path('fos_user_security_login') }}">login</a>
        <br/>
    {% endif %}

    {% block greeting %}
        <h2>Bienvenido {{ app.user }} </h2>
    {% endblock %}

    <table>
    <tr>
        <td>id</td><td>Nombre</td><td>Fecha de subida</td><td>Descripción</td><td>Propietario</td>

    </tr>
    {% for file in files %}
        <tr>
            <td>{{file.id}}<td>{{file.filename}}</td><td>{{file.uploadDate|date("d/m/y")}}</td><td>{{ file.description}}</td><td>{{ file.owner}}</td>
            {% if file.hasOwner(app.user) %}
                <td><a href="{{ path('deleteFile', {'id': file.id}) }}"> Eliminar {{ file.filename }}</a></td>
            {% endif %}
        </tr>
    {% else %}
        <tr>
            <td colspan="5">No hay datos</td>
        </tr>

    {% endfor %}
    <tr>
        <td colspan="5">Número de elementos: {{ files|length}}</td>
    </tr>
    </table>
    <form name="form" action="{{ path('find') }}" method="get">
        Buscar por nombre de fichero:
        <input type="search" name="word"><br>
    </form>

    {#<a href="{{ path('find',{'word': text }) }}"> Buscar </a>#}
{% endblock %}