{% extends "@EasyAdmin/default/layout.html.twig" %}

{% trans_default_domain "EasyAdminBundle" %}

{% block navigation_items %}
    <li>
        <a href="{{ path("admin_dashboard") }}"><i class="fa fa-dashboard"></i> {{ 'header.dashboard' | trans }}</a>
    </li>
    {% for item in easyadmin_config('entities') %}
        <li class="{{ item.name|lower == app.request.get('entity')|lower ? 'active' : '' }}">
            <a href="{{ path('admin', { entity: item.name, action: 'list' }) }}">
               {% if item.icon is defined %}<i class="fa fa-{{- item.icon -}}"></i> {% endif %}{{- item.label|trans -}}
            </a>
        </li>
    {% endfor %}
    <li>
        <a href="{{ path("homepage") }}"><i class="fa fa-home"></i> {{ 'header.homepage' | trans }}</a>
    </li>
    <li>
        <a href="{{ path("fos_user_security_logout") }}"><i class="fa fa-sign-out"></i> {{ 'header.logout' | trans }}</a>
    </li>
{% endblock navigation_items %}

